version: "3.9"

services:
  mongodb:
    image: mongo:6
    container_name: mongodb
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

  backend:
    build: ./Backend
    container_name: backend
    ports:
      - "${BACKEND_PORT}:5000"
    environment:
      NODE_ENV: ${NODE_ENV}
      MONGO_URI: ${MONGO_URI}
    depends_on:
      - mongodb
    networks:
      - app-network

  frontend:
    build:
      context: ./Frontend
      args:
        VITE_BACKEND_URL: ${VITE_BACKEND_URL}
    container_name: frontend
    ports:
      - "${FRONTEND_PORT}:80"
    depends_on:
      - backend
    networks:
      - app-network

  admin:
    build: ./Admin
    container_name: admin
    ports:
      - "${ADMIN_PORT}:80"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mongo-data:
