apiVersion: v1
kind: Service
metadata:
  name: admin-nodeport
  namespace: food
spec:
  selector:
    app: admin
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 30001
  type: NodePort
