.add {
    width: 100%;
    font-size: 16px;
    border: 3px solid #8eaebf;
    padding: 50px;
    border-radius: 15px;
}

.Heading {
    color: #8eaebf;
}

.add form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.add-product-name,
.add-product-description,
.add-img-upload {
    width: max(40%, 240px);
}

.add-product-name input,
.add-product-description textarea ,
.urlinput{
    padding: 10px;
    border: 2px solid #8eaebf;
    border-radius: 10px;
    outline: none;
}

.add-product-name input:focus,
.add-product-description textarea:focus {
    border-color: #8eaebf;
    box-shadow: 0 0 5px rgba(123, 174, 55, 0.5);
}

.add-category-price {
    display: flex;
    gap: 30px;
}

.add-category-price select,
.add-category-price input {
    width: 190px;
    padding: 10px;
    border: 2px solid #8eaebf;
    border-radius: 10px;
    outline: none;
}

.add-category-price select:focus,
.add-category-price input:focus {
    border-color: #8eaebf;
    box-shadow: 0 0 5px rgba(123, 174, 55, 0.5);
}

.add-button {
    width: 120px;
    border: none;
    padding: 10px;
    background-color: #8eaebf;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}



@media (max-width: 900px) {
    body {
        background-color: #8eaebf;
    }

    .add {
        border: none;
        padding: 5px;
        font-size: 14px;
    }

    .drop_box p {
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 10px;
    }

    .add-category-price select,
    .add-category-price input {
        width: 110px;
        padding: 10px;
        border: 2px solid #8eaebf;
        border-radius: 10px;
        outline: none;
    }
}
